@keyframes scroll {
  0% {
    transform: translateX(calc(-250px * 7));
  }
  100% {
    transform: translateX(0);
  }
}
.sliderNamesLeft {
  margin: 10px 0;
  overflow: hidden;
  position: relative;
}
.sliderNamesLeft::before,
.sliderNamesLeft::after {
  content: "";
  height: 100px;
  position: absolute;
  width: 200px;
  z-index: 2;
}
.sliderNamesLeft::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}
.sliderNamesLeft::before {
  left: 0;
  top: 0;
}
.sliderNamesLeft .slide-trackLeft {
  animation: scroll 40s linear infinite;
  display: flex;
  width: calc(250px * 14);
}
.sliderNamesLeft .slideLeft {
  height: 100px;
  width: 250px;
  padding-left: 20px;
}
.slideLeft img {
  width: 250px;
  height: 100px;
  object-fit: contain;
}
